// -----------------------------------------------------------------------------
// This file contains all styles related to the main layout of the site/application.
// -----------------------------------------------------------------------------

section.wrapper {
  background-color: $main-background;
  /*.is-full-height {
    min-height: calc(100vh - 3.25rem);
    max-height: calc(100vh - 3.25rem);
    height: calc(100vh - 3.25rem);
  }*/
  .main-wrapper {
    height: calc(100vh - 4rem);
    main.main {
      height: inherit;
      width: 100vw;
      overflow: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  section.wrapper {
    &.is-active {
      main.main {
        width: calc(100vw - 16.75rem);
      }
    }
  }
}

@media screen and (min-width: 1216px) {
  section.wrapper {
    main.main {
      padding: 2rem;
    }
  }
}
