#SportsMultiTypeTableList {
  .box.bet-margin {
    width: 2.625rem;
    margin: 0 3px;
    font-size: 10pt;
    padding: 6px 0px;
    color: #9F9F9F;
  }
  @media screen and (min-width: 769px) {
    .action,
    .game {
      min-height: 38px;
    }
    .action-td {
      width: 145px;
      .action {
        border-left: 2px solid #F8F8F8;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
    .game {
      border-right: 2px solid #F8F8F8;
    }
  }
  @media screen and (max-width: 768px) {
    .action {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
