// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  font-weight: 600;
  &.is-default {
    color: $primary;
    border: none;
  }
  &.is-cancel {
    color: #7D7D7D;
    border: none;
  }
  &.is-primary.is-outlined {
    color: #7D7D7D;
  }
}

.pagination-previous {
  order: 1;
}
