.modal-card {
  .modal-card-head,
  .modal-card-foot {
    background-color: #ffffff;
  }
  .modal-card-foot {
    border-top: none;
  }
}
.modal-background {
  background-color: rgba(10, 10, 10, 0.60);
}
